body {
    height: 100%;
    margin: 0;
    
  }
  .box {

    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .box > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }   

.item { 
        border-color: black;
        display: flex;
        justify-content: flex-start;
        flex-grow: 0;
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        width: 3rem;
        padding: 2rem 1rem;
        border: 4px solid #f8f8f8;
    
}

.item-1{
background-color: aqua;
}
.item-2{
background-color: orange;
}
.item-3{
background-color: blueviolet;
}
.item-4{
background-color: yellow;
}